{% extends 'base.html' %}

{% block content %}
<div class="top-button">
    {% if user.user_type == 0 %}
    <a class="btn btn-primary" href="{% url add %}">Add New {{ item }}</a>
    {% endif %}
</div>
<div id="wrapper">
    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                {% if type == 'products' %}
                <th>
                    <h3>Name</h3>
                </th>
                <th>
                    <h3>Code</h3>
                </th>
                <th>
                    <h3>Price</h3>
                </th>
                <th>
                    <h3>Date Published</h3>
                </th>
                {% elif type == 'manager:delivery-persons' %}
                <th>
                    <h3>Name</h3>
                </th>
                <th>
                    <h3>Username</h3>
                </th>
                <th>
                    <h3>Salary</h3>
                </th>
                {% elif type == 'manager:customers' %}
                <th>
                    <h3>Name</h3>
                </th>
                <th>
                    <h3>Username</h3>
                </th>
                <th>
                    <h3>Address</h3>
                </th>
                <th>
                    <h3>Days Due</h3>
                </th>
                <th><h3>Action</h3></th>
                <th><h3>Action</h3></th>
                <th><h3>Action</h3></th>
                
                {% endif %}
                {% if user.user_type == 0 %}
                <th><h3>Action</h3></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                {% if type == 'products' %}
                <td>{{obj.name}}</td>
                <td>{{obj.code}}</td>
                <td>Rs {{obj.price}}/-</td>
                <td>{{obj.date_published}}</td>
                   
                {% elif type == 'manager:delivery-persons' %}
                <td>{{obj.name}}</td>
                <td>{{obj.username}}</td>
                <td>{{ obj.salary }}</td>

                {% elif type == 'manager:customers' %}
                <td>{{obj.name}}</td>
                <td>{{obj.username}}</td>
                <td>{{obj.address}}</td>
                <td>{{obj.due_days}}</td>
                 
                <td><a class="btn btn-success btn-sm" href="{% url 'manager:subscriptions' obj.id %}">View Subscriptions</a></td>
                <td><a class="btn btn-success btn-sm" href="{% url 'manager:generate-bill' obj.id %}">Generate Bill/Reminder</a></td>
                <td>
                    {% if obj.pause == 0 %}
                <a class="btn btn-success btn-sm" href="{% url 'manager:pause' obj.id 1 %}">Pause</a>
                {% else %}
                <a class="btn btn-success btn-sm" href="{% url 'manager:pause' obj.id 0 %}">Unpause</a>
                {% endif %}
                </td>
                {% endif %}

                {% if user.user_type == 0 %}
                <td><a class="btn btn-danger btn-sm" href="{% url delete obj.id %}">Delete</a></td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="top-button">
    {% if user.user_type == 0 and type == 'manager:delivery-persons' %}
    <a class="btn btn-primary" href="{% url 'manager:calculate-salary' %}">Calculate Salary</a>
    {% endif %}
</div>
{% endblock content %}