{% extends 'base.html' %}
{% block content %}
    {% if user.user_type == 0 %}
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url add %}">Add New {{ item }}</a>
    {% endif %}
    {% for obj in objects %}
        <div>
            {% if type == 'products' %}
                {{obj.id}} {{obj.name}} {{obj.code}} Rs {{obj.price}}/- {{obj.date_published}}
            {% elif type == 'manager:delivery-persons' %}
                {{obj.id}} {{obj.username}} {{obj.name}}
            {% elif type == 'manager:customers' %}
                {{obj.id}} {{obj.name}} {{obj.username}} {{obj.address}}
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'manager:subscriptions' obj.id %}">View Subscriptions</a>
            {% endif %}
            {% if user.user_type == 0 %}
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url delete obj.id %}">Delete</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}