{% extends 'base.html' %}
{% block content %}
    {% if user.user_type == 0 %}
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'manager:product-add'%}">Add New Product</a>
    {% endif %}
    {% for product in products %}
        <div> {{product.id}} {{product.name}} {{product.date_published}}
        {% if user.user_type == 0 %}
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'manager:product-delete' product.id %}">Delete</a>
        {% endif %}
        </div>
    {% endfor %}
{% endblock content %}