{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h4 class="heading">Add Subscription</h4>
    <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <div class="top-button">
        <button type="submit" class="btn btn-primary">Add Subscription</button>
    </div>
      </form>
      <div id="wrapper">
        <table id="keywords" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                        <th><h3>Customer Username</h3></th>
                    <th><h3>Product Name</h3></th>
                    <th><h3>Product Code</h3></th>
                    {% if user.user_type == 0 %}
                        <th><h3>Action</h3></th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
    {% for obj in objects %}
        <tr>
            <td>{{ obj.customer }}</td>
            <td>{{ obj.product.name }}</td>
            <td>{{ obj.product.code }}</td>
             
            {% if user.user_type == 0 %}
                <td><a class="btn btn-danger btn-sm" href="{% url delete obj.customer.id obj.id %}">Delete</a></td>
            {% endif %}
        </tr>
    {% endfor %}
</tbody>
    </table>
    </div>
{% endblock content %}