{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Add Subscription</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Add</button>
      </form>
    {% for obj in objects %}
        <div>
            {{ obj.customer.username }} {{ obj.product.code }}
            {% if user.user_type == 0 %}
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url delete obj.customer.id obj.id %}">Delete</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}