{% extends 'base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h4 class="heading">Are you sure you want to delete?</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'manager:subscriptions' object.customer.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}